# Windows
#
# Start:
# nginx -p ./tmp -c ./nginx.config
#
# List nginx processes
# tasklist /fi "imagename eq nginx.exe"
#
# Kill all nginx
# taskkill /f /IM nginx.exe

events {
    worker_connections  1024;
}

http {
    include       mime.types;

    server {
        listen       8070;
        server_name  localhost;

        location / {            
            root   ./public;
            index  index.html;
            
            # kill browser cache
            add_header Last-Modified $date_gmt;
            add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
            if_modified_since off;
            expires off;
            etag off;
            
            # kill nginx cache
            # don't cache it
            proxy_no_cache 1;
            # even if cached, don't try to use it
            proxy_cache_bypass 1; 
        }
    }
}
